<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="./css/{{fileCss}}" />
  </head>
  <body>
    <div class="containerLoginGral">
      <div class="containerLogin">
        <div class="containerTitle">
          <h1>Token Expirado</h1>
        </div>
        <div class="textInfoEmail">
          <p>El token ingresado expiro. Vuelva a iniciar el proceso para restablecer la contraseña</p>
        </div>
        <div class="buttonReturn">

          <button
            type="button"
            onclick="location.href='/login'"
            class="btn btn-primary"
          >Volver</button>
        </div>
      </div>
    </div>
  </body>
</html>