@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

.tittleHeader{
   background-image: url("../img/banner.jpg");
   height: 300px;
}
.tittleHeader h1{
    color: white;
    font-size: 3rem;
    display: flex;
    font-family: "Roboto Slab", serif;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
}

.menuCollap{
    display: flex;
    justify-content: start;
    align-items: start;
  }
  
  .menuCollap p {
  
    color: white;
    text-align: center;
  }
  
  .menuCollap i{
    text-decoration: none;
    color: white;
    font-size: 15px;
  }
  
  .containerLogOut{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  
  .textoRol{
    margin: 0px;
  }
  
  .buttonLogOut{
    font-size: 14px;
   
  }
  
  .navBarOpt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  
  .infoUserNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }




.productListContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    gap: 40px;
}

.containerCardImg{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: white;
  border-radius: 10px;
}

.card{
  width: 300px;
  height: 531px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background-color: #ddf5fa57;
}
.card img{
  width: 60%;
    
}
.card-body{
    background-color: #F0FAFC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.card-text{
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 600;
  margin: 0px;
}
.card button{
  padding: 10px;
  margin-bottom: 20px;
}


.containerBtnBack{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 30px ;
}

.btn-primary {
  --bs-btn-bg: rgba(161, 206, 209, 0.555);
  --bs-btn-border-color: none;
  --bs-btn-color: #333;
  --bs-btn-hover-bg: rgba(161, 206, 209, 0.555);
  font-weight: 600;
  width: 200px;
  
}


.cartEmpty{
  color : #333;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-top: 100px;
}

