.containerFather {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(161, 206, 209, 0.301);
}

.checkoutTittle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.checkoutTittle i{
  color: rgb(47, 148, 47);
  font-size: 50px;
}

.containerProfile {
  width: 40%;
  position: absolute;
  box-shadow: var(--shadow-elevation-high);
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
}
.containerProfile h1 {
  text-align: center;
  font-size: 50px;
  color: rgb(47, 148, 47);
  margin-bottom: 10px;
  font-weight: 600;
}
.containerProfile h2 {
  background-color: rgba(139, 135, 135, 0.37);
  border-radius: 10px;
  font-size: 25px;
  color: #5a5a5a;
  padding: 10px;
  text-transform: capitalize;
}
.containerProfile h3 {
  font-size: 25px;
  border-radius: 10px;
  color: #5a5a5a;
  padding: 10px;
  background-color: rgba(139, 135, 135, 0.164);
  text-transform: capitalize;
}

.logoutButtonProfile {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.warningEmail{
  color: red;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}



:root {
  --shadow-color: 191deg 20% 59%;
  --shadow-elevation-high: 0.3px 0.3px 0.5px hsl(var(--shadow-color) / 0.36),
    2.1px 1.9px 3.3px -0.4px hsl(var(--shadow-color) / 0.37),
    4.1px 3.7px 6.4px -0.7px hsl(var(--shadow-color) / 0.39),
    7px 6.4px 11px -1.1px hsl(var(--shadow-color) / 0.4),
    11.8px 10.6px 18.4px -1.5px hsl(var(--shadow-color) / 0.41),
    19.1px 17.3px 30px -1.9px hsl(var(--shadow-color) / 0.42),
    29.9px 27px 46.8px -2.2px hsl(var(--shadow-color) / 0.43);
}

.btn-primary {
  --bs-btn-bg: rgba(161, 206, 209, 0.555);
  --bs-btn-border-color: none;
  --bs-btn-color: #333;
  --bs-btn-hover-bg: rgba(161, 206, 209, 0.555);
  font-weight: 600;
  width: 150px;
}