
.titlePrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.productListContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    gap: 40px;
}
.card-body{
    background-color: #F0FAFC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.card-text{
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 600;
}

.acctionsButtonPage{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
}
.acctionsButtonPage a {
    text-decoration: none;
    color: white;
}
.textPage{
    text-align: center;
    margin-top: 15px;
    font-weight: 600;
}
.selectContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.selectContainer select{
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 5px;
    width: 20%;
}

.accordion-button collapsed{
    background-color: red;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: 600;
}

.backGroundColorAccordion{
    background-color: #F0FAFC;
    color: black;
    border: 0.1px solid rgba(180, 195, 224, 0.199);
    font-weight: 600;
    width: 10%;
    
}
.accordion-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.menuCollap{
    display: flex;
    justify-content: start;
    align-items: start;
}

.menuCollap p {
  
    color: white;
    text-align: center;
}

.menuCollap i{
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.containerLogOut{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.textoRol{
    margin: 0px;
}

.buttonLogOut{
    font-size: 14px;
   
}